@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-alice-carousel/lib/alice-carousel.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.wrapper{
  padding: 0px 140px;
}

@media screen and (max-width: 700px) {
  .wrapper{
    padding: 0px 30px;
  }
  }
  .gradient {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
  }
  /* @media (min-width: 701px) and (max-width: 1700px) {
    .wrapper{
      padding: 0px 90px;
    }
    } */

    .how-it-works-img {
      background-image: url("./Assets/images/african-man-black-suit-big-tv-screen-guy-shows-presentation.jpg");
      background-size: cover;
    }

    /* ////////////////////////////////// */
.tab-list {
  height: 50px;
  display: flex;
  list-style: none;
  font-size: 18px;
  padding: 0;
  margin: 0;
}

.tabs {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background: #80808013; */
  position: relative;
  cursor: pointer;
}

.tabs:not(:last-child) {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.active-tabs {
  background: #f2f2f2;
}
.active-tabs h4{
  color: #69C080;
}

.active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% + 2px);
  height: 4px;
  /* background: #5893f1; */
}

.content {
    /* background-color: #eeeded; */
    display: none;
    padding: 10px;
    border: 1px solid rgba(128, 128, 128, 0.253);
     box-shadow: 5px 10px #888888cc;;
}

.active-content {
    display: flex;
    flex-direction: column;
}

.float-right{
  float: right !important;
}
.high-z{
  z-index: 10000000 !important;
}

.low-z{
  z-index: 1 !important;
}
.navPadding{
margin-bottom: -115px;
z-index: 10000000 !important;
}
.margNegative{
  margin-top: -400px;
}
@media screen and (max-width: 600px) {

  .faq-text-pad {
      margin-left: 0px !important ;
      margin-top: -50px !important;
      padding: 20px !important;
      border-radius: 10px !important;
    }
    .faq-text-pad-alt {
      margin-left: 0px !important ;
      margin-top: -40px !important;
      padding: 20px !important;
      border-radius: 0px !important;
    }
    .faq-text-pad-number {
      margin-top: auto !important ;
      margin-bottom: auto !important ;
      margin-right: 20px;
      padding-top: auto;
      padding-bottom: auto;
    }
    .faq-text-pad-img {
      border-radius: 0px !important;
    }
    .faq-text-pad-text {
      font-size: 15px !important;
      margin-top: auto;
      margin-bottom: auto;
      padding-top: auto;
      padding-bottom: auto;
    }
    .faq-questn {
      padding-right: 0px !important;
      border-left: 3px solid #69C080 !important;
    }
  .faq-ans{
    border-left: 3px solid #93A3A1 !important;
    
  }
    .faq-text-pad-alt {
      margin-left: 0px !important ;
      margin-top: 280px !important;
      padding: 20px !important;
      position: absolute;
      border-radius: 10px !important;
      margin-right: 0px !important;
      
    }
    .faq-space {
      margin-bottom: 60px !important;
    }
  }
    












  @import url(https://fonts.googleapis.com/css?family=Raleway);
.snip1584 {
  font-family: 'Monospace', sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  font-size: 16px;
  text-align: left;
}
.snip1584 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1584:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  top: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.9);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1584 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1584 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1584 h3,
.snip1584 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1584 h3 {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  text-transform: uppercase;
  font-weight: 400;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1584 h5 {
  font-weight: normal;
  background-color: #ae895d;
  padding: 3px 10px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1584:hover:before,
.snip1584.hover:before {
  top: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1584:hover h3,
.snip1584.hover h3,
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1584:hover h3,
.snip1584.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.snip1584:hover h5,
.snip1584.hover h5 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
/* Demo purposes only */

.appp{
	width: 1200px;
	margin: auto;
	font-family: 'Raleway';
	font-size: 24px;
}